<?xml version="1.0" encoding="UTF-8"?>
<!-- Legacy tests from 2.x branch (non-namespaced version) -->
<!-- Usage: ./vendor/bin/phpunit -c phpunit.legacy.xml.dist -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./tests_legacy/bootstrap.php"
         backupGlobals="true"
         stderr="true"
         colors="true">
    <php>
        <ini name="memory_limit" value="-1"/>
    </php>
    <listeners>
        <listener class="Cake\TestSuite\Fixture\CakeFixtureInjector"/>
    </listeners>
    <testsuites>
        <testsuite name="All Tests">
            <file>./tests_legacy/TestCase/AllTestsTest.php</file>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </coverage>
</phpunit>
