<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         backupGlobals="true"
         stderr="true"
         colors="true">
    <php>
        <ini name="memory_limit" value="-1"/>
    </php>

    <listeners>
        <listener class="Cake\TestSuite\Fixture\CakeFixtureInjector"/>
    </listeners>

    <testsuites>
        <testsuite name="All Tests">
            <file>./tests/TestCase/AllTestsTest.php</file>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </coverage>
</phpunit>
